body{
    background: #f3f5fc;
    width: 1400px;
    margin: 20px 0;
}

.titulo{
    margin: 20px;
    padding: 0 25%;
    font-family: "Inter", sans-serif;
    font-size: 45px;
    color: #0A3871;
}

/* Define la animación para la intermitencia */
@keyframes titulo {
    0% {
      opacity: 0; /* La letra es invisible */
    }
    50% {
      opacity: 1; /* La letra es visible */
    }
    100% {
      opacity: 0; /* La letra es invisible nuevamente */
    }
  }
  
  /* Aplica la animación a la clase .intermittent */
  .titulo {
    animation: titulo 2s infinite; /* La animación dura 1.5 segundos y se repite infinitamente */
  }


main{
    display: flex;
    gap: 5%;
}

/*Sección donde se coloca mensaje para encriptar o desencriptar*/

.parte-principal{
    display: flex;
    width: 60%;
    gap:5%;
}

.logo{
    width: 14%;
}

.logo-Alura{
    width: 100%;
}
.seccion-central{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    font-family: "Inter", sans-serif;
}
.ingresar-texto{
    background: #EFF1FA;
    padding-top: 40px;
}
.ingresar-texto textarea{
    color: #0A3871;
    font-weight: 400;
    font-size: 32px;
    background: transparent;
    border: none;
    outline: none;
}

.ingresar-texto textarea::placeholder{
    color: #0A3871;
}

.advertencia{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: #495057;
    padding: 4% 0;
}

.botones{
    display: flex;
    gap: 10%;
}

.encriptar,.desencriptar{
    width: 45%;
    border-radius:1.6em;
    font-size: 16px;
    padding: 3% 7%;
    text-align: center;
    justify-content: center;
    background: #D8DFE8;
    border:2px solid #0A3871;
    color: #0A3871;
    transition: 700ms all;
}

.encriptar:hover,.desencriptar:hover{
    background: #0A3871;
    border:2px solid #D8DFE8;
    color: #FFFFFF;
}

/* diseño del resultado del mensaje encriptado o desencriptado*/
.texto-encriptado{
    background: #FFFFFF;
    border-radius: 2em;
    font-family: "Inter";
    width: 30%;
    height: 98vh;
}

.imagen-aviso{
    width: 90%;
    padding: 20% 5%;
}

.imagen-aviso img{
    width: 100%;
}

.mensaje-aviso{
    display: flex;
    flex-direction: column;
}

.mensaje-aviso p:first-child{
    width: 84%;
    font-size: 24px;
    font-optical-sizing: auto;
    font-weight: 700;
    text-align: center;
    color: #343A40;
    padding: 4% 8% 0;
}

.mensaje-aviso p:last-child{
    width: 84%;
    padding: 4% 8% 8%;
    font-size: 16px;
    text-align: center;
    color: #343A40;
}

.copiar{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#boton-copiar{
    width: 70%;
    height: 9vh;
    padding: 4% 0;
    margin: 11% 15% 0;
    border-radius:1.6em;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    background: #f3f5f8;
    border:2px solid #0A3871;
    color: #0A3871;
    transition: 700ms all;
}

#boton-copiar:hover{
    background: #0A3871;
    border:2px solid #D8DFE8;
    color: #FFFFFF;
}

/*elemento div del mensaje luego de encriptar o desencriptar*/
#bloque-resultado-mensaje{
    width: 100%;
    padding: 17% 0 10%;
    height: 50vh;
    font-family: "Inter", sans-serif;
}

#resultado-mensaje{
    width: 90%;
    padding: 4% 4%;
    font-size: 32px;
    text-align: center;
    color: #343A40;
}

.mensaje-copiado{
    width: 70%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #495057;
    padding: 2% 10% 4% 20%;
}

.copyright{
    margin: 2% 0 0;
    padding: 0 36%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #0A3871;
}


/*Modificación para tablet*/
@media screen and (max-width: 768px) {
    body{
        width: 100%;
    }

    .titulo{
       padding: 0 10%;
       font-size: 35px;
       text-align: center;
    }

    main{
        flex-direction: column;
    }

    .parte-principal{
        width: 100%;
        padding-bottom: 8.4%;
    }

    .logo{
        width: 10%;
    }
    .ingresar-texto textarea{
        width: 100%;
        font-size: 30px;
    }
    .texto-encriptado{
        width: 76%;
        margin: 0 12%;
        height: max-content;
    }

    .imagen-aviso {
        display:none
    }

    #bloque-resultado-mensaje{
        height: min-content;
        padding-top: 4%;
    }

    #resultado-mensaje{
        font-size: 30px;
    }
    .copiar{
        margin-bottom: 2%;
    }
    #boton-copiar{
        margin-top: 4%;
        padding: 1%;
    }

    .mensaje-copiado{
        padding: 1% 1% 1% 29%;
    }

    .copyright{
        width: 80%;
        margin-top: 4%;
        padding: 0 20% 0 30%;
    }
}

@media screen and (max-width: 420px){
    .titulo{
        padding: 0 8% 0 12%;
        font-size: 32px
    }

    .ingresar-texto textarea, #bloque-resultado-mensaje{
        font-size:25px;
    }

    #boton-copiar{
        height: 5vh;
    }
    .mensaje-copiado{
        font-size: 14px;
        padding: 0 15%;
        margin-top: 2%;
    }
    .copyright{
        padding: 0 13%;
    }
}